<p id="notice"><%= notice %></p>

<div class="layout">
    <div class="sidebar">
        <svg xmlns="http://www.w3.org/2000/svg" width="176.477" height="45.5"><g data-name="Grupo 2"><g data-name="Rectángulo 1" fill="#597a98" stroke="#fff"><path stroke="none" d="M27.884 10.338l10.288 10.288-10.288 10.289-10.288-10.289z"/><path fill="none" d="M27.884 11.045l9.581 9.581-9.581 9.582-9.581-9.582z"/></g><g data-name="Rectángulo 2" fill="#5e92c3" stroke="#fff"><path stroke="none" d="M38.222 0L48.51 10.288 38.222 20.577 27.934 10.288z"/><path fill="none" d="M38.222.707l9.581 9.581-9.581 9.582-9.581-9.582z"/></g><g data-name="Rectángulo 3" fill="#87a7c3" stroke="#fff"><path stroke="none" d="M17.546 0l10.288 10.288-10.288 10.289L7.258 10.288z"/><path fill="none" d="M17.546.707l9.581 9.581-9.581 9.582-9.581-9.582z"/></g><g data-name="Trazado 1" fill="#5b7083"><path d="M16.996 33.835l-9.288-9.288V11.545l9.288 9.288v13.002z"/><path d="M8.208 12.752V24.34l8.288 8.288V21.04l-8.288-8.288m-1-2.414l10.288 10.288v14.416L7.208 24.754V10.338z" fill="#fff"/></g><g data-name="Trazado 2" fill="#415669"><path d="M27.334 44.172l-9.288-9.288V21.882l9.288 9.288v13.002z"/><path d="M18.546 23.09v11.587l8.288 8.288V31.377l-8.288-8.288m-1-2.414l10.288 10.288V45.38L17.546 35.091V20.675z" fill="#fff"/></g><g data-name="Trazado 3" fill="#8ea2b4"><path d="M28.434 44.293V31.17l9.288-9.288v13.122l-9.288 9.289z"/><path d="M37.222 23.09l-8.288 8.287v11.708l8.288-8.288V23.09m1-2.414v14.537L27.934 45.5V30.963l10.288-10.288z" fill="#fff"/></g><g data-name="Trazado 4" fill="#8ea9c3"><path d="M38.77 33.956V20.833l9.289-9.288v13.122l-9.288 9.289z"/><path d="M47.559 12.752l-8.288 8.288v11.708l8.288-8.288V12.752m1-2.414v14.537L38.271 35.163V20.626l10.288-10.288z" fill="#fff"/></g></g><text data-name="We Love Blocks" transform="translate(60.477 27.228)" fill="#707070" font-size="14" font-family="Silom"><tspan x="0" y="0">We Love Blocks</tspan></text></svg>
        
        <p>Choose your evaluation criteria:</p>
        <div class="option-list">
            <div><input type="checkbox" id="cbox" value="line_number"> <label for="cbox2"> Number of Code Lines  </label></div>
            <div><input type="checkbox" id="cbox" value="time"> <label for="cbox2"> Time / Performance </label></div>
            <div><input type="checkbox" id="cbox" value="complexity"> <label for="cbox2"> Algorithm Complexity </label></div>
            <div><input type="checkbox" id="cbox" value="good_practices"> <label for="cbox2"> Good Practices </label></div>
            <div><input type="checkbox" id="cbox" value="score"> <label for="cbox2"> Show Score </label></div>
        </div>
        <p>Game Settings:</p>
        <div class="option-list">
            <div><input type="checkbox" id="cbox" value="feedback"> <label for="cbox2"> Show Feedback </label></div>
            <div><input type="checkbox" id="cbox" value="help"> <label for="cbox2"> Allow Remote Help </label></div>
        </div>
    </div>
 
    <div >

        <div id="toolkit">
            <div class="select_block"></div>
            <div class="select_block"></div>
            <div>Player</div>
        </div>

        <div id="grid">
            <% (0..20).each do |i| %>
                <div class="row">
                    <% (0..20).each do |j| %>
                        <div class="cell" data-row="<%=i%>" data-column="<%=j%>">0</div>
                    <% end %>
                </div>
            <% end %>
        </div>

    

    </div>

    <div>
        <canvas id="preview">
        </canvas>
    </div>

</div>

<%= javascript_pack_tag 'challenge', 'data-turbolinks-track': 'reload' %>